:root{
    --background-color: #B6BCED;
    --button-background-color: #9FA5D9;
    --card-background-color: #8A92D1;
    --primary-text-color: #3F3F48;
    --sub-text-color: #72779B;
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: var(--background-color);
}

.header-container{
    padding: 10px 20px 0px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-container .header-container-left .header-logo img{
    height: 70px;
}

.header-container .header-container-right{
    display: flex;
    flex-direction: row;
    align-items: right;
    width: 140px;
    justify-content: space-between;
}

.header-container .header-container-right .header-notification{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-background-color);
    cursor: pointer;
}

.header-container .header-container-right .header-notification .badge{
    position: absolute;
    top: 6px;
    right: 94px;
    padding: 4px 10px;
    border-radius: 50%;
    font-size: 14px;
    background: red;
    color: white;
}

.header-container .header-container-right .header-notification i{
    font-size: 32px;
}

.header-container .header-container-right .header-notification:hover{
    background-color: var(--card-background-color);
}

.header-container .header-container-right .header-notification:hover i{
    transform: scale(1.05);
    transition: 0.2s ease;
}

.header-container .header-container-right .header-profile img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.body-container{
    padding: 20px;
}

.body-container .body-header h3{
    padding: 20px 0px 0px 10px;
    font-size: 24px;
}

.body-container .body-header h5{
    padding: 0px 0px 0px 10px;
    font-size: 16px;
    color: var(--sub-text-color);
}

.body-container .card-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 36px 0px 20px 20px;
    flex-wrap: wrap;
}

.body-container .card-container .card-type-1{
    width: 400px;
    height: 220px;
    background-color: var(--card-background-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    border-radius: 8px;
    margin: 0px 0px 10px 0px;
}

.body-container .card-container .card-type-1 .card-type-1-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.body-container .card-container .card-type-1 .card-type-1-header h4{
    font-size: 24px;
}

.body-container .card-container .card-type-1 .card-type-1-header img{
    width: 100px;
}

.body-container .card-container .card-type-1 .card-type-1-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.body-container .card-container .card-type-1 .card-type-1-details .card-type-1-details-left{
    display: flex;
    flex-direction: column;
}

.body-container .card-container .card-type-1 .card-type-1-details .card-type-1-details-right{
    display: flex;
    align-items: end;
}

.body-container .card-container .card-type-1 .add-card-container{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-container .card-container .card-type-1 .add-card-container i{
    font-size: 48px;
}

@media only screen and (max-width: 500px) {
    .body-container .card-container .card-type-1{
        width: 100%;
        max-width: 80vw;
    }
}

.body-container .card-chooser{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 20px 0px 0px 20px;
}

.body-container .card-chooser{
    padding-top: 4px;
}

.body-container .card-chooser ul li{
    background-color: gray;
    margin-right: 10px;
    padding: 10px 16px;
    border-radius: 50%;
    display: inline;
}

.body-container .card-chooser ul li:hover{
    cursor: pointer;
}

.body-container .card-chooser ul li.active{
    color: #FFF;
    background-color: var(--card-background-color);
}

.body-container .bank-menu{
    margin: 30px 0px 0px 10px;
    display: flex;
    flex-direction: row;
}

.body-container .bank-menu .menu-caption{
    display: flex;
    flex-direction: column;
    margin: 0px 20px 0px 0px;
    text-align: center;
}

.body-container .bank-menu .menu-caption:hover .menu-container{
    background-color: var(--card-background-color);
}

.body-container .bank-menu .menu-caption:hover i{
    transform: scale(1.1);
    transition: 0.2s ease;
}

.body-container .bank-menu .menu-caption .menu-container{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--button-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-container .bank-menu .menu-caption .menu-container i{
    font-size: 24px;
}

.body-container .transactions-container .transactions-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0px 20px 0px;
}

.body-container .transactions-container .transactions-header h3{
    font-size: 24px;
    padding: 0px 0px 0px 6px;
}

.body-container .transactions-container .transactions-header h5{
    text-decoration: underline;
    font-size: 16px;
    padding: 0px 10px 0px 0px;
    color: var(--sub-text-color);
    cursor: pointer;
}

.body-container .transactions-container .transactions-card{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.body-container .transactions-container .transactions-card .card-type-2{
    width: 100%;
    height: 80px;
    margin: 0px 14px 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.body-container .transactions-container .transactions-card .card-type-2 .card-type-2-left{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.body-container .transactions-container .transactions-card .card-type-2 .card-type-2-left .user-img img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.body-container .transactions-container .transactions-card .card-type-2 .card-type-2-left .user-info{
    margin: 0px 0px 0px 20px;
}

.body-container .transactions-container .hidden-transactions{
    display: none;
}

@media only screen and (max-width:600px) {
    .body-container .transactions-container .transactions-card .card-type-2 .card-type-2-left .user-info h3{
        font-size: 15px;
    }
    .body-container .transactions-container .transactions-card .card-type-2 .card-type-2-left .user-info h4{
        font-size: 12px;
    }
    .body-container .transactions-container .transactions-card .card-type-2 .card-type-2-right h3{
        font-size: 15px;
    }
}

@media only screen and (max-width:500px) {
    .body-container .transactions-container .transactions-card .card-type-2 .card-type-2-left .user-img img{
        height: 40px;
        width: 40px;
    }

    .body-container .transactions-container .transactions-card .card-type-2 .card-type-2-left .user-info{
        margin: 0px 0px 0px 10px;
    }

    .body-container .transactions-container .transactions-card .card-type-2 .card-type-2-left .user-info h3{
        font-size: 15px;
    }

    .body-container .transactions-container .transactions-card .card-type-2 .card-type-2-left .user-info h4{
        font-size: 12px;
    }

    .body-container .transactions-container .transactions-card .card-type-2 .card-type-2-right h3{
        font-size: 14px;
    }
}

::-webkit-scrollbar{
    scrollbar-gutter: stable;
    width: 15px;
}

::-webkit-scrollbar-track{
    background-color: var(--background-color);
}

::-webkit-scrollbar-thumb{
    background-color: var(--card-background-color);
    border-radius: 8px;
}
